footer.page-footer.white
        
  .footer-copyright.blue-grey-text
    
    .container
      
      .row
        
        .col.s12.center
          p 試算表ID:
          p 12_6JeFDKeHHybI9GwPnPTxvmKNs5DBOZ29hQzsPIYf0