header
  nav
    .nav-wrapper
      a.brand-logo.center(href='/') 
          img.circle(src='/avatar-icon.png', alt='Hello!!')
      ul.right.hide-on-med-and-down
        li
          a(href='/thanks') Thanks
        li
          a(href='/table') Tables
          