header
  nav
      .nav-wrapper
        a.brand-logo.center(href='/') Hello
        ul.right.hide-on-med-and-down
          li
            a(href='/thanks') Thanks
          li
            a(href='/table') Tables