extends layout

block content
  table.highlight#table-list-item
    thead.blue-grey.darken-4
      tr.white-text
        th First Name
        th Last Name
        th Phone
        th Email
    tbody

  script(src='/js/table.js')