extends layout

block content
  a.btn.waves-effect.waves-light.cyan.darken-2(href='/')
    | 回首頁
    i.material-icons.right next_plan
  a.btn.waves-effect.waves-light.cyan.darken-2(href='/table')
    | 查看紀錄
    i.material-icons.right table_chart
